@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.content_wrapper {
  width: calc(100% - 40px);
}

.container_wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
}
header .content_wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .content_wrapper--pages {
  position: relative;
}
header .logo {
  width: 60%;
  height: 50%;
}
header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .back_home_page {
  position: absolute;
  top: 35px;
  left: 0px;
  transform: translate(0%, -50%);
  color: #353535;
  font-size: 20px;
}

.container_wrapper__location {
  background-color: #eaeaea;
  border-top: 10px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container_wrapper__location p {
  width: 140px;
  display: flex;
  justify-content: space-between;
}
.container_wrapper__location p i {
  font-style: inherit;
}
.container_wrapper__title {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.container_wrapper__title section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container_wrapper__title h1 {
  width: 70%;
}
.container_wrapper__title p {
  width: 90%;
}
.container_wrapper__functionning section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.container_wrapper__functionning h2 {
  align-self: flex-start;
}
.container_wrapper__restaurants {
  background-color: #f6f6f6;
}
.container_wrapper__restaurants section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #353535;
}
footer .content_wrapper {
  color: white;
}
footer .content_wrapper div {
  height: 20px;
  width: 100px;
}
footer .content_wrapper div img {
  width: 100%;
  height: 100%;
  filter: invert(100%);
  object-fit: contain;
}
footer .content_wrapper ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.functionning-button {
  width: calc(100% - 12.5px);
  height: 70px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0 10px 5px #eaeaea;
  display: flex;
  align-items: center;
  gap: 10%;
  margin-bottom: 20px;
  position: relative;
}
.functionning-button__number {
  position: absolute;
  top: 35px;
  left: 0;
  transform: translate(-50%, -50%);
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.functionning-button i {
  margin-left: 10%;
  color: grey;
}
.functionning-button__title {
  font-weight: bold;
}
.functionning-button:hover {
  background-color: #9356DC;
}

.gradiant_button {
  height: 60px;
  width: 220px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  box-shadow: 0 5px 2px #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.card_restaurant {
  width: 100%;
  height: 250px;
  border-radius: 25px;
  background-color: white;
  border: 1px dashed blue;
}
.card_restaurant__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card_restaurant__content__image {
  height: 75%;
}
.card_restaurant__content__image__main {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_restaurant__content__image--new {
  position: relative;
}
.card_restaurant__content__image__second--new {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #75e8d1;
  color: #008f69;
  font-weight: bold;
  padding: 7px;
  border-radius: 3px;
}
.card_restaurant__content__body {
  width: 80%;
  height: 25%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_restaurant__content__body__title h3, .card_restaurant__content__body__title p {
  margin: auto;
  color: black;
}
.card_restaurant__content__body__favorite {
  border: 1px dashed blue;
  font-size: 25px;
}

.card_dish {
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 1px dashed blue;
  /*
  &__first
  {
      margin:0;
      @include border(orange);
  }

  &__second
  {
      margin: 0;
      @include border(green);
      transform: scaleX(0.5);
  }
  */
  position: relative;
  height: 70px;
}
.card_dish__first {
  border: 1px dashed red;
  height: 70px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.card_dish__first h3, .card_dish__first p {
  margin: 0;
}
.card_dish__second {
  background-color: #99E2D0;
  width: 100px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 70px;
  position: absolute;
  top: 0px;
  right: -100px;
}

main {
  display: flex;
  flex-direction: column;
}

.main_picture_restaurant {
  border: 1px dashed orange;
  width: 100%;
  height: 200px;
}
.main_picture_restaurant img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f6f6f6;
}
.menu__name-restaurant {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}
.menu__name-restaurant__title {
  font-family: "Shrikhand", cursive;
}
.menu__subsection__title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}
.menu__order-button {
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
