@import "./1_utils/variables";
@import "./1_utils/mixins";

@import "./2_base/base";
@import "./2_base/typography";

@import "./6_test/test";

#card_test
{
    display: none;
}
.content_wrapper
{
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;

    @include flex-r;
}


.container_wrapper__location, .container_wrapper__restaurants, .container_wrapper__title
{
    background-color: $custom-grey;
    //@include border;
}

.container_wrapper__location p
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer
{
    background-color: $custom-black;
}

header
{
    height: 70px;
    @include border;

    .content_wrapper
    {
        @include border(green);
        width: 100%;
        height: 100%;
    }

    .logo
    {
        width: 60%;
        height: 50%;
        @include border(red);

        img
        {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.container_wrapper__location
{
    background-color: $custom-grey;
    @include border;
}