@import "./1_utils/variables";
@import "./1_utils/mixins";

@import "./2_base/base";
@import "./2_base/typography";

@import "./3_layout/wrapper";
@import "./3_layout/header";
@import "./3_layout/home";
@import "./3_layout/footer";

@import "./4_components/home_button_functionning";
@import "./4_components/gradiant_button";
@import "./4_components/card_restaurant.scss";
@import "./4_components/card_dish.scss";

@import "./5_pages/pages_restaurant.scss";