$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$custom-grey:#eaeaea;
$custom-light-grey:#f6f6f6;
$custom-black:#353535;

$side_edge:20px;

$functionning-button-height:70px;
$functionning-button-circle-size:25px;

$card-restaurant-border-radius:25px;
$card-restaurant-color-new-box:#75e8d1;
$card-restaurant-new-box-font-color:#008f69;
