$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$custom-grey:#eaeaea;
$custom-light-grey:#f6f6f6;
$custom-black:#353535;
//new name backgroud
$background-primary:#FFFFFF;
$background-secondary:#f6f6f6;
$background-tertiary:#eaeaea;
$background-quaternary:#353535;

$side_edge:30px;

$padding-between-section-home:40px;

$height-header:70px;

$functionning-button-height:70px;
$functionning-button-circle-size:25px;

$card-restaurant-border-radius:25px;
$card-restaurant-color-new-box:#75e8d1;
$card-restaurant-new-box-font-color:#008f69;
$card-restaurant-percentage-darkening:1%;

$heart-size:25px;
$heart-filling-animation-time:1s;

$overlap-menupage-illustration:30px;

$margin-between-order-button: 40px;

//$height-card-dish: 70px; (Depreciated)
$padding-element-card-dish: 10px;

$dish-selection-animation-time: 1s;
//PB (Doit certainment faire une fonction)
$width-dish-price: 20%;
$max-width-dish-name: 60%;
$min-width-dish-name: 80%;

//Fondu progressive
$height-subsection-content: 250px;
$gap-between-dish-card: 20px;
$dish-progressive-display-animation-time: 1500ms;

//Loading Spinner
$loading-spinner-animation-time: 2.5s;
$spinner-size: 150px; //mettre une fonction en fonction taille ecran?
$spinner-arc-proportion: 0.20;
$number-spin: 1.75;




