$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$background-primary:#FFFFFF;
$background-secondary:#f6f6f6;
$background-tertiary:#eaeaea;
$background-quaternary:#353535;

$side_edge:30px;

$padding-between-section-home:40px;

$height-header:70px;

$functionning-button-height:70px;
$functionning-button-circle-size:25px;

$card-restaurant-border-radius:25px;
$card-restaurant-color-new-box:#75e8d1;
$card-restaurant-new-box-font-color:#008f69;
$card-restaurant-percentage-darkening:1%;
$gap-between-restaurant-card:20px;

$heart-size:25px;
$heart-filling-animation-time:1s;

$overlap-menupage-illustration:30px;

$margin-between-order-button: 40px;

$padding-element-card-dish: 10px;
$dish-selection-animation-time: 1s;
$width-dish-price:15;

//Dish progressive display animation
$height-subsection-content: 220px;
$gap-between-dish-card: 20px;
$dish-progressive-display-animation-time: 1500ms;

//Loading Spinner
$loading-spinner-animation-time: 2s;
$spinner-size: 150px;
$spinner-arc-proportion: 0.20;
$number-spin: 1.75;

//---------------------------------------------------------------//
//-------------------Tablet-Desktop-Only------------------------//

$breakpoint-desktop: 991px;
$breakpoint-tablet: 768px;

$width_wrapper-desktop:900px;
$width_wrapper-tablet:720px;

$padding-top-bottom-footer-desktop:10px;

$gap-between-restaurant-card-desktop: 30px;
$gap-between-functionning-button: 30px;