@media all and (min-width: $breakpoint-desktop)
{
    header
    {
        background-color: yellow;
    }
    .content_wrapper
    {
        width: $width_wrapper-desktop;
    }

    .page
    {
        &__home
        {
            .container_wrapper
            {
                padding-right: calc((100% - $width_wrapper-desktop) / 2 );
                padding-left: calc((100% - $width_wrapper-desktop) / 2 );
            }

        }

        &__restaurant
        {
            .container_wrapper
            {
                width: $width_wrapper-desktop;
            } 
        }
    }
}