@media all and (min-width: $breakpoint-tablet)
{
    //wrapper
    /*
    .content_wrapper
    {
        width: $width_wrapper-desktop;
    }
    */
    .page
    {
        &__home
        {
            h2
            {
                text-align: center;
            }
            /*
            .container_wrapper
            {
                padding-right: calc((100% - $width_wrapper-desktop) / 2 );
                padding-left: calc((100% - $width_wrapper-desktop) / 2 );
            }
            */
        }

        &__restaurant
        {
            .container_wrapper
            {
                /*width: $width_wrapper-desktop;*/
                margin-right: auto;
                margin-left: auto;
            }
            main
            {
                background-color: $background-tertiary;
            }
        }
    }

    //Content
    .menu
    {
        box-sizing:border-box;
        
        section
        {
            display: flex;
            align-items:flex-start;
            justify-content: space-around;
            flex-wrap: wrap;
            row-gap: 20px;

        }
        
        &__name-restaurant
        {
            width:100%;
            margin-bottom: 0;
        }
        &__subsection
        {
            width:48%;

            &__title
            {
                width: fit-content;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
    
    .card_restaurant
    {
        width: calc(($width_wrapper-desktop - $gap-between-restaurant-card-desktop)/ 2);
    }

    .functionning-button
    {
        width: calc(($width_wrapper-desktop - $functionning-button-circle-size - $gap-between-functionning-button) / 3)
    }

    .container_wrapper
    {
        &__functionning
        {
            section
            {
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;

                h2
                {
                    width:100%;
                }
            }
            
        }

        &__restaurants
        {
            section
            {
                flex-direction: row;
                flex-wrap: wrap;
                gap: $gap-between-restaurant-card-desktop;

                h2
                {
                    width:100%;
                }
            }
        }
    }

    
    //footer
    footer
    {
        padding-top: $padding-top-bottom-footer-desktop;
        padding-bottom: $padding-top-bottom-footer-desktop;
        .content_wrapper
        {
            div
            {
                margin-right: auto;
                margin-left: auto;
            }
            ul
            {
                display: flex;
                justify-content: space-between;
            }
        }
        
    }
}