@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

body
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
}

h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    //font-family: 'Shrikhand', cursive;
}