footer
{
    background-color: $custom-black;
    //display: flex;
    //flex-direction: column;
    .content_wrapper
    {
        color:white;

        div
        {
            height: 20px;
            width: 100px;
            img
            {
                width: 100%;
                height: 100%;
                filter:invert(100%);
                
                object-fit: contain;
            }
        }

        ul
        {
            list-style-type: none;
            padding: 0;
            margin-top: 0;
        }
    }
    
}