header
{
    @include flex-r;
    
    height: $height-header;

    .content_wrapper
    {
        height:100%;
        @include flex-r;

        &--pages
        {
            position: relative;
        }
    }
    .logo
    {
        width:60%;
        height:50%;

        img
        {
            width:100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .back_home_page
    {
        position: absolute;
        top: calc($height-header / 2);
        left: 0px;
        transform: translate(0%,-50%);

        color: $background-quaternary;
        font-size: 20px;
    }
}

.page__home
{
    header
    {
        box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
        margin-bottom: 5px;
    }
}