// 2-Mise en page main

// 2-1 Belleville (location)

.container_wrapper
{
    //color:red;
    &__location
    {
        background-color: $custom-grey;
        //A_CORRIGER
        //box-shadow: 20px 20px 10px black;
        //border-top:  10px solid black;
        @include flex-r;
        p
        {
            //@include border(orange);
            width: 140px;
            display: flex;
            justify-content: space-between;

            i
            {
                font-style: inherit;
            }
        }
    }
    &__title
    {
        background-color: $custom-light-grey;

        padding-top: $padding-between-section-home;
        padding-bottom: $padding-between-section-home;

        //@include border;
        section
        {
            @include flex-c;
            text-align: center;
        }
        
        h1
        {
            width: 70%;
        }
        p
        {
            width: 90%;
            //color: $custom-grey;
        }
    }
    &__functionning
    {
        padding-top: $padding-between-section-home;
        padding-bottom: $padding-between-section-home;

        section
        {
            @include flex-c;
            //justify-content:flex-end;
            align-items: flex-end;
            //AVOIR!!!
        }

        h2
        {
            align-self: flex-start;
        }
    }
    &__restaurants
    {
        background-color: $custom-light-grey;

        padding-top: $padding-between-section-home;
        padding-bottom: $padding-between-section-home;

        section
        {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        h2
        {
            margin-top: 0;
        }
    }
}
/*
.homepage
{
    &::after
    {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: orange;
        z-index: 10;
    }
}
*/