// 2-Mise en page main

// 2-1 Belleville (location)

.container_wrapper
{
    //color:red;
    &__location
    {
        background-color: $custom-grey;
        //A_CORRIGER
        //box-shadow: 20px 20px 10px black;
        border-top:  10px solid black;
        @include flex-r;
        p
        {
            //@include border(orange);
            width: 140px;
            display: flex;
            justify-content: space-between;

            i
            {
                font-style: inherit;
            }
        }
    }
    &__title
    {
        background-color: $custom-light-grey;
        padding-bottom: 50px;
        //@include border;
        section
        {
            @include flex-c;
            text-align: center;
        }
        
        h1
        {
            width: 70%;
        }
        p
        {
            width: 90%;
            //color: $custom-grey;
        }
    }
    &__functionning
    {
        section
        {
            @include flex-c;
            //justify-content:flex-end;
            align-items: flex-end;
            //AVOIR!!!
        }

        h2
        {
            align-self: flex-start;
        }
    }
    &__restaurants
    {
        background-color: $custom-light-grey;
        section
        {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}