.container_wrapper
{
    &__location
    {
        background-color: $background-tertiary;
        @include flex-r;

        p
        {
            width: 140px;
            display: flex;
            justify-content: space-between;

            i
            {
                font-style: inherit;
            }
        }
    }
    &__title
    {
        background-color: $background-secondary;

        padding-top: $padding-between-section-home;
        padding-bottom: $padding-between-section-home;

        section
        {
            @include flex-c;
            text-align: center;
        }
        
        h1
        {
            width: 70%;
        }
        p
        {
            width: 90%;
        }
    }
    &__functionning
    {
        padding-top: $padding-between-section-home;
        padding-bottom: $padding-between-section-home;

        section
        {
            @include flex-c;
        }

        h2
        {
            align-self: flex-start;
        }
    }
    &__restaurants
    {
        background-color: $background-secondary;

        padding-top: $padding-between-section-home;
        padding-bottom: $padding-between-section-home;

        section
        {
            display: flex;
            flex-direction: column;
            gap: $gap-between-restaurant-card;
        }

        h2
        {
            margin-top: 0;
        }
    }
}


.page__home
{    
    &::after
    {
        position: fixed;
        top:0;
        left:0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: $background-primary;
        z-index: 10;

        animation: spinner-background $loading-spinner-animation-time forwards;
    }

    &::before
    {
        position: fixed;
        content: "";
        
        top: calc(50% - (($spinner-size * (1 + 2 * $spinner-arc-proportion)) / 2));
        left: calc(50% - (($spinner-size * (1 + 2 * $spinner-arc-proportion)) / 2));
        
        display: block;
        background-color: $background-primary;
        width: $spinner-size;
        height: $spinner-size;
        border-radius: 50%;
        border: calc($spinner-size * $spinner-arc-proportion) solid lighten($color-primary,30%);
        border-top-color: $color-primary;

        z-index: 11;

        animation: spinner $loading-spinner-animation-time forwards;
        

    }

    @keyframes spinner-background 
    {
        0%
        {
            opacity: 1;
            z-index: 10;
        }

        95%
        {
            opacity: 1;
            z-index: 10;
        }

        100%
        {
            opacity: 0;
            z-index: -2;
        }

    }

    @keyframes spinner 
    {
        0%
        {
            opacity: 1;
            z-index: 11;
        }

        10%
        {
            opacity: 1;
            z-index: 11;
            transform: rotate(0deg);
        }

        90%
        {
            opacity: 1;
            z-index: 11;
            transform: rotate(calc(360deg * $number-spin));
        }

        95%
        {
            opacity: 0;
            z-index: -2;
        }

        100%
        {
            opacity: 0;
            z-index: -2;
        }
        
    }
    
}