main
{
    display: flex;
    flex-direction: column;
}

.main_picture_restaurant
{
    width: 100%;
    height: 200px;

    img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.menu
{
    margin-top: -$overlap-menupage-illustration;
    border-top-left-radius: $overlap-menupage-illustration;
    border-top-right-radius:$overlap-menupage-illustration;
    background-color: $background-secondary;

    &__name-restaurant
    {
        display: flex;
        justify-content: space-between;

        font-weight: normal;

        &__title
        {
            font-family: 'Shrikhand', cursive;
        }
    }

    &__subsection
    {
        &__title
        {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 16px;
            padding-bottom: 5px;

            &::after
            {
                content:"";
                display: block;
                width:35px;
                margin-top: 5px;
                border-bottom: 3px solid $color-tertiary;
            }
        }

        &__content
        {
            height: $height-subsection-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__order-button
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: $margin-between-order-button;
        margin-bottom: $margin-between-order-button;
    }
    
}