@import "./1_utils/variables";
@import "./1_utils/mixins";

@import "./2_base/base";
@import "./2_base/typography";
//@import "./2_base/test";

// Definition des bords

.content_wrapper
{
    width: calc(100% - (2 * $side_edge));
    //@include flex-c;
}

.container_wrapper
{
    padding-right: $side_edge;
    padding-left: $side_edge;
}

header, footer
{
    @include flex-r;
}


// 1-Mise en page header

header
{
    height: 70px;

    .content_wrapper
    {
        height:100%;
        @include flex-r;
    }
    .logo
    {
        width:60%;
        height:50%;

        img
        {
            width:100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

// 2-Mise en page main

// 2-1 Belleville (location)

.container_wrapper
{
    //color:red;
    &__location
    {
        background-color: $custom-grey;
        //A_CORRIGER
        //box-shadow: 20px 20px 10px black;
        border-top:  10px solid black;
        @include flex-r;
        p
        {
            //@include border(orange);
            width: 140px;
            display: flex;
            justify-content: space-between;

            i
            {
                font-style: inherit;
            }
        }
    }
    &__title
    {
        background-color: $custom-light-grey;
        padding-bottom: 50px;
        //@include border;
        section
        {
            @include flex-c;
            text-align: center;
        }
        
        h1
        {
            width: 70%;
        }
        p
        {
            width: 90%;
            //color: $custom-grey;
        }
        div
        {
            height: 60px;
            width: 220px;

            background-image: linear-gradient($color-secondary,$color-primary);
            border-radius: 30px;
            box-shadow: 0 5px 2px $custom-grey;

            @include flex-c;
            color: white;
            font-weight: bold;
        }
    }
    &__functionning
    {
        section
        {
            @include flex-c;
            //justify-content:flex-end;
            align-items: flex-end;
            //AVOIR!!!
        }

        h2
        {
            align-self: flex-start;
        }
    }
}
.functionning-button
{
    width: calc(100% - ($functionning-button-circle-size / 2));
    height: $functionning-button-height;
    background-color: $custom-light-grey;
    border-radius: 20px;
    box-shadow: 0 10px 5px $custom-grey;

    //A_CORRIGER !!!
    display: flex;
    align-items: center;
    gap: 10%;

    margin-bottom: 20px;

    position: relative;

    //@include border;

    &__number
    {
        position: absolute;
        top: calc($functionning-button-height / 2);
        left: 0;
        transform: translate(-50%,-50%);

        display: block;
        width: $functionning-button-circle-size;
        height: $functionning-button-circle-size;
        border-radius: $functionning-button-circle-size;
        background-color: $color-primary;

        @include flex-c;
        color: white;
    }

    i
    {
        margin-left: 10%;
        color:grey;
        //A VOIR !!!
    }

    &__title
    {
        font-weight: bold;
    }

    //TEMPORAIRE !!! (Utiliser rendu fin)
    &:hover
    {
        background-color: $color-primary;
    }
}

.card_restaurant
{
    width: 100%;
    height: 250px;
    border-radius: $card-restaurant-border-radius;
    @include border;

    &__content
    {
        width: 100%;
        height: 100%;
        //@include border(green);
        display: flex;
        flex-direction: column;
        
        &__image
        {
            //@include border(red);
            height: 75%;

            &__main
            {
                border-top-left-radius:$card-restaurant-border-radius;
                border-top-right-radius:$card-restaurant-border-radius;

                width:100%;
                height: 100%;
                object-fit: cover;
            }

            &--new
            {
                position: relative;
            }

            
            &__second--new
            {
                position: absolute;
                top:20px;
                right: 20px;

                background-color: $card-restaurant-color-new-box;
                color: $card-restaurant-new-box-font-color;
                font-weight: bold;

                padding: 7px;
                border-radius: 3px;
            }
        }

        &__body
        {
            width: 80%;
            height: 25%;
            align-self: center;
            //@include border(orange);

            display: flex;
            align-items: center;
            justify-content: space-between;

            &__title
            {
                //@include border(blue);
                //display: flex;
                //flex-direction: column;
                //align-items: flex-start;
                //justify-content: space-around;
                h3,p
                {
                    margin: auto;
                    color:black;
                    
                    //@include border(red);
                }
            }

            &__favorite
            {
                @include border(blue);
                font-size: 25px;
            }

        }
    }
}
//<a class="card_restaurant__content" href="#">