.card_dish
{
    background-color: $background-primary;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgb(0,0,0,0.2);

    height: calc(($height-subsection-content - $gap-between-dish-card) / 3);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    h3, p, i
    {
        margin:0;
        padding:0;
    }

    p
    {
        font-size: 13.5px;
    }

    h3
    {
        font-size: 16px;
    }

    &__name
    {
        width: calc( (100 - #{$width-dish-price}) * 1%);
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3, p
        {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            padding-left: $padding-element-card-dish;
        }

        h3
        {
            padding-top: $padding-element-card-dish;
        }

        p
        {
            padding-bottom: $padding-element-card-dish;
        }
    }

    &__price
    {
        width: calc(#{$width-dish-price} * 1%);
        height: 100%;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        p
        {
            padding-bottom: $padding-element-card-dish;
            font-weight: bold;
        }
    }

    &__basket
    {   
        background-color: $color-tertiary;
        color: $background-primary;
        width:0%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        i
        {
            overflow: hidden;
        }
    }
   
    
    &:hover
    {
        .card_dish
        {
            &__name
            {
                width: calc( (100 - (2 * #{$width-dish-price}) ) * 1%);

            }
        
            &__basket
            {
                width: calc(#{$width-dish-price} * 1%);
                i
                {
                    transform: rotate(360deg);
                }  
            }
        }
    }
}

.card_dish__name, .card_dish__basket, .card_dish__basket i
{
    transition-property: width, transform;
    transition-duration: $dish-selection-animation-time;
    transition-timing-function: ease-in-out;
}

.card_dish
{
    &__first
    {
        animation: dish_progressive_display $dish-progressive-display-animation-time forwards;
    }

    &__second
    {
        opacity: 0;
        animation: dish_progressive_display $dish-progressive-display-animation-time forwards calc($dish-progressive-display-animation-time * 0.25);
    }

    &__third
    {
        opacity: 0;
        animation: dish_progressive_display $dish-progressive-display-animation-time forwards calc($dish-progressive-display-animation-time * 0.50);
    }
    
}

@keyframes dish_progressive_display
{
    from
    {
        opacity: 0;
        transform: translateY(calc($gap-between-dish-card / 2));
    }

    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}
