.card_dish
{
    //@include border(blue);
    //background-color: blue;

    background-color: $background-primary;
    border-radius: 20px;

    height: $height-card-dish;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    h3, p, i
    {
        margin:0;
        padding:0;
    }

    &__name
    {
        //@include border(orange);
        //background-color: orange;
        
        //width: $max-width-dish-name;
        width: 80%;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3, p
        {
            //@include border(cyan);

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            padding-left: $padding-element-card-dish;
        }

        h3
        {
            padding-top: $padding-element-card-dish;
        }

        p
        {
            padding-bottom: $padding-element-card-dish;
        }
    }

    &__price
    {
        //@include border(red);
        //background-color: red;
        
        //width: $width-dish-price;
        width: 20%;
        height: 100%;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        p
        {
            padding-bottom: $padding-element-card-dish;
            font-weight: bold;
        }
    }

    &__basket
    {
        //@include border(black);
        
        background-color: $color-tertiary;
        color: $background-primary;
        width:0%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        i
        {
            overflow: hidden;
        }
    }
   
    
    &:hover
    {
        .card_dish
        {
            &__name
            {
                //width: $min-width-dish-name;
                width: 60%;

            }
        
            &__basket
            {
                //width: calc(100% - $min-width-dish-name - $width-dish-price);
                width: 20%;
                i
                {
                    transform: rotate(360deg);
                }  
            }
        }
    }
}

.card_dish__name, .card_dish__basket, .card_dish__basket i
{
    //transition: width 1s ease-in-out;

    transition-property: width, transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}