.card_restaurant
{
    width: 100%;
    height: 250px;
    border-radius: $card-restaurant-border-radius;
    background-color: white;
    @include border;

    &__content
    {
        width: 100%;
        height: 100%;
        //@include border(green);
        display: flex;
        flex-direction: column;
        text-decoration: none;
        
        &__image
        {
            //@include border(red);
            height: 75%;

            &__main
            {
                border-top-left-radius:$card-restaurant-border-radius;
                border-top-right-radius:$card-restaurant-border-radius;

                width:100%;
                height: 100%;
                object-fit: cover;
            }

            &--new
            {
                position: relative;
            }

            
            &__second--new
            {
                position: absolute;
                top:20px;
                right: 20px;

                background-color: $card-restaurant-color-new-box;
                color: $card-restaurant-new-box-font-color;
                font-weight: bold;

                padding: 7px;
                border-radius: 3px;
            }
        }

        &__body
        {
            width: 80%;
            height: 25%;
            align-self: center;
            //@include border(orange);

            display: flex;
            align-items: center;
            justify-content: space-between;

            &__title
            {
                //@include border(blue);
                //display: flex;
                //flex-direction: column;
                //align-items: flex-start;
                //justify-content: space-around;
                h3,p
                {
                    margin: auto;
                    color:black;
                    
                    //@include border(red);
                }
            }

            &__favorite
            {
                @include border(blue);
                font-size: 25px;
            }

        }
    }
}