.card_restaurant
{
    width: 100%;
    height: 250px;
    border-radius: $card-restaurant-border-radius;
    box-shadow: 0px 4px 9px rgba(0,0,0,0.10),-3px 0px 9px rgba(0,0,0,0.10), 3px 0px 9px rgba(0,0,0,0.10);

    &__content
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        &__image
        {
            height: 75%;

            &__main
            {
                border-top-left-radius:$card-restaurant-border-radius;
                border-top-right-radius:$card-restaurant-border-radius;

                width:100%;
                height: 100%;
                object-fit: cover;
            }

            &--new
            {
                position: relative;
            }

            
            &__second--new
            {
                position: absolute;
                top:20px;
                right: 20px;

                background-color: $card-restaurant-color-new-box;
                color: $card-restaurant-new-box-font-color;
                font-weight: bold;

                padding: 7px;
                border-radius: 3px;
            }
        }

        &__body
        {
            width: 100%;
            height: 25%;
            //background-color: orange;
            background-color: darken($background-primary,$card-restaurant-percentage-darkening);

            box-sizing: border-box;
            padding-left: 10%;
            padding-right: 10%;
            border-bottom-left-radius: $card-restaurant-border-radius;
            border-bottom-right-radius: $card-restaurant-border-radius;

            display: flex;
            align-items: center;
            justify-content: space-between;

            &__title
            {
                h3,p
                {
                    margin: auto;
                    color:black;
                }
            }

            &__favorite
            {
                background-color: inherit;
                width: $heart-size;
                height: $heart-size;
            }

        }
    }

    &:hover .card_restaurant__content__body
    {
        background-color: $background-primary;
        //background-color: red;
    }
}