.card_restaurant
{
    width: 100%;
    height: 250px;
    border-radius: $card-restaurant-border-radius;
    background-color: darken($background-primary,$card-restaurant-percentage-darkening);
    box-shadow: 0px 4px 9px rgba(0,0,0,0.10),-3px 0px 9px rgba(0,0,0,0.10), 3px 0px 9px rgba(0,0,0,0.10);
    //@include border;

    &__content
    {
        width: 100%;
        height: 100%;
        //@include border(green);
        display: flex;
        flex-direction: column;
        //text-decoration: none;
        
        &__image
        {
            //@include border(red);
            height: 75%;
            //z-index:4;

            &__main
            {
                border-top-left-radius:$card-restaurant-border-radius;
                border-top-right-radius:$card-restaurant-border-radius;

                width:100%;
                height: 100%;
                object-fit: cover;
            }

            &--new
            {
                position: relative;
            }

            
            &__second--new
            {
                position: absolute;
                top:20px;
                right: 20px;

                background-color: $card-restaurant-color-new-box;
                color: $card-restaurant-new-box-font-color;
                font-weight: bold;

                padding: 7px;
                border-radius: 3px;
            }
        }

        &__body
        {
            width: 80%;
            height: 25%;
            align-self: center;
            //@include border(orange);

            display: flex;
            align-items: center;
            justify-content: space-between;

            &__title
            {
                //@include border(blue);
                //display: flex;
                //flex-direction: column;
                //align-items: flex-start;
                //justify-content: space-around;
                h3,p
                {
                    margin: auto;
                    color:black;
                    
                    //@include border(red);
                }
            }

            &__favorite
            {
                font-size: $heart-size;
                height: $heart-size;
                width: $heart-size;
 
                position: relative;
                &__up
                {
                    @include heart-zindex(3);          
                }

                &::after
                {
                    content: "";
                    display: block;
                        
                    height: $heart-size;
                    width: $heart-size;

                    background-color: darken($background-primary,$card-restaurant-percentage-darkening);
                    //background-color: orange;
                    @include heart-zindex(2);

                    transform: scaleY(93%);
                    transform-origin: top right;
                    transition: transform $heart-filling-animation-time ease-in-out;
                }

                &__behind
                {
                    background-image: linear-gradient($color-secondary,$color-primary);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;

                    @include heart-zindex(1);
                }


                &:hover
                {
                    &::after
                    {
                        transform: scaleY(17%);
                        //transform-origin: top right;
                        //transition: transform 0.5s ease-in-out;
                    }
                }
            }

        }
    }

    &:hover
    {
        background-color: $background-primary;
    }
}