.gradiant_button
{
    height: 60px;
    width: 220px;

    background-image: linear-gradient($color-secondary,$color-primary);
    border-radius: 30px;
    box-shadow: 0 5px 2px $custom-grey;

    @include flex-c;
    color: white;
    font-weight: bold;
}