.gradiant_button
{
    height: 60px;
    width: 220px;

    background-image: linear-gradient($color-secondary,$color-primary);
    border-radius: 30px;
    box-shadow: 4px 4px 5px rgb(0,0,0,0.15), -4px 4px 5px rgb(0,0,0,0.15);


    @include flex-c;
    color: $background-primary;
    font-weight: bold;

    &:hover
    {
        
        background-image: linear-gradient(lighten($color-secondary,5%),lighten($color-primary,5%));
        box-shadow: 3px 3px 4px rgb(0,0,0,0.25), -3px 3px 4px rgb(0,0,0,0.25);
    }
}