.functionning-button
{
    width: calc(100% - ($functionning-button-circle-size / 2));
    height: $functionning-button-height;
    background-color: $background-secondary;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.10),-4px -0px 10px rgba(0,0,0,0.10);

    display: flex;
    align-items: center;
    gap: 10%;

    margin-bottom: 20px;

    position: relative;

    &__number
    {
        position: absolute;
        top: calc($functionning-button-height / 2);
        left: 0;
        transform: translate(-50%,-50%);

        display: block;
        width: $functionning-button-circle-size;
        height: $functionning-button-circle-size;
        border-radius: $functionning-button-circle-size;
        background-color: $color-primary;

        @include flex-c;
        color: $background-primary;
    }

    i
    {
        margin-left: 10%;
        color: grey;
    }

    &__title
    {
        font-weight: bold;
    }

    &:hover
    {
        background-color: lighten($color-primary,35%);
        
        i
        {
            color:$color-primary;
        }
    }
}