.functionning-button
{
    width: calc(100% - ($functionning-button-circle-size / 2));
    height: $functionning-button-height;
    background-color: $custom-light-grey;
    border-radius: 20px;
    box-shadow: 0 10px 5px $custom-grey;

    //A_CORRIGER !!!
    display: flex;
    align-items: center;
    gap: 10%;

    margin-bottom: 20px;

    position: relative;

    //@include border;

    &__number
    {
        position: absolute;
        top: calc($functionning-button-height / 2);
        left: 0;
        transform: translate(-50%,-50%);

        display: block;
        width: $functionning-button-circle-size;
        height: $functionning-button-circle-size;
        border-radius: $functionning-button-circle-size;
        background-color: $color-primary;

        @include flex-c;
        color: white;
    }

    i
    {
        margin-left: 10%;
        color:grey;
        //A VOIR !!!
    }

    &__title
    {
        font-weight: bold;
    }

    //TEMPORAIRE !!! (Utiliser rendu fin)
    &:hover
    {
        background-color: $color-primary;
    }
}